<div class="container">
    <div class="card" style="background-color: #6DDDFE;">
        <div class="card-body  m-3">
          <div class="row text-center" style="margin-top: 20px;background-color: #142b3b;">
            <div class="col-12"><h1 style="color: #5ebcfa; font-style: italic;"> <b> Preguntas frecuentes </b></h1></div> 
            
        </div>
        </div>
      </div>
      <br>
      <hr>
      <br>
    <div id="accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                <i class="fas fa-question-circle"></i> ¿Qué debo hacer si tengo síntomas de COVID-19 y cuándo he de buscar atención médica?
              </a>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="">
            <div class="card-body">
                Si tiene síntomas leves, como tos o fiebre leves, generalmente no es necesario que busque atención médica. Quédese en casa, aíslese y vigile sus síntomas. Siga las orientaciones nacionales sobre el autoaislamiento. Sin embargo, si vive en una zona con paludismo (malaria) o dengue, es importante que no ignore la fiebre. Busque ayuda médica. Cuando acuda al centro de salud lleve mascarilla si es posible, manténgase al menos a un metro de distancia de las demás personas y no toque las superficies con las manos. En caso de que el enfermo sea un niño, ayúdelo a seguir este consejo.</div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-question-circle"></i> ¿Es posible contagiarse de COVID‑19 por contacto con una persona que no presente ningún síntoma?
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" style="">
            <div class="card-body">
                La principal forma de propagación de la COVID‑19 es a través de las gotículas respiratorias expelidas por alguien que tose o que tiene otros síntomas como fiebre o cansancio. Muchas personas con COVID‑19 presentan solo síntomas leves. Esto es particularmente cierto en las primeras etapas de la enfermedad. Es posible contagiarse de alguien que solamente tenga una tos leve y no se sienta enfermo. 
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header" role="tab" id="heading3">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed">
                    <i class="fas fa-question-circle"></i> ¿Cómo podemos protegernos a nosotros mismos y a los demás si no sabemos quién está infectado?
                </a>
              </h5>
            </div>
        
            <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" style="">
              <div class="card-body">
                Practicar la higiene respiratoria y de las manos es importante en TODO momento y la mejor forma de protegerse a sí mismo y a los demás. 

                Cuando sea posible, mantenga al menos un metro de distancia entre usted y los demás. Esto es especialmente importante si está al lado de alguien que esté tosiendo o estornudando. Dado que es posible que algunas personas infectadas aún no presenten síntomas o que sus síntomas sean leves, conviene que mantenga una distancia física con todas las personas si se encuentra en una zona donde circule el virus de la COVID‑19.</div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" role="tab" id="heading4">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="collapsed">
                    <i class="fas fa-question-circle"></i> ¿Cuánto tiempo transcurre entre la exposición a la COVID‑19 y el desarrollo de síntomas?
                </a>
              </h5>
            </div>
        
            <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" style="">
              <div class="card-body">
                El tiempo que transcurre entre la exposición a la COVID‑19 y el momento en que comienzan los síntomas suele ser de alrededor de cinco o seis días, pero puede variar entre 1 y 14 días.   
            </div>
            </div>
          </div>
      </div>
      
</div>
