<form [formGroup]="lati_longi" (ngSubmit)="getLocation()">
	<p formControlName="latitud" id="latitud">Latitud: {{latitud2}}</p>
	<p formControlName="longitud" id="longitud">Longitud: {{longitud2}}</p>
	<div class="form-group row">
		<label class="col-2 col-form-label">&nbsp;</label>
		<div class="input-group col-md-8">
			<button type="submit" class="btn btn-warning">
				COORDENADAS
			</button>
		</div>
	</div>
</form>

<main role="main">
	<div class="container">
		<form [formGroup]="data" (ngSubmit)="agreagrLocalizacion()">
			<div class="row">
				<div class="col-12">
					<div class="form-group row">
						<label class="col-2 col-form-label">Celular</label>
						<div class="col-8">
							<input class="form-control" type="text" placeholder="Numero de celular"
								formControlName="numerocel">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-2 col-form-label">Latitud: </label>
						<div class="col-8">
							<input class="form-control" placeholder="{{latitud2}}" type="number" formControlName="latitud">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-2 col-form-label">Longitud: </label>
						<div class="col-8">
							<input class="form-control" placeholder="{{longitud2}}" type="number" formControlName="longitud">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-2 col-form-label">Tiempo: </label>
						<div class="col-8">
							<input class="form-control" type="datetime" formControlName="tiempo">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-2 col-form-label">&nbsp;</label>
						<div class="input-group col-md-8">
							<button type="submit" class="btn btn-outline-primary">
								AGREGAR
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</main>