<main role="main">
    <div class="container">
        <div class="card" style="background-color: #6DDDFE;">
            <div class="card-body m-3">
              <div class="row text-center" style="margin-top: 20px;background-color: #142b3b;">
                <div class="col-12"><h1 style="color: #5ebcfa; font-style: italic;"> <b> Acerca de </b></h1></div> 
            </div>
            </div>
          </div>
          <hr>
             <div class="row">
                 <div class="col-12 text-center">
                     <h1 style="color: #142b3b; font-style: italic;">Sistema de Rastreo de Riesgos por Positivos Covid-19</h1>
                 </div>
             </div>
             <div class="row">
                 <div class="col-12 text-justify text-size: 20px;">
                   <h5>
                     Esta página fue creada por estudiantes de la Universidad Autónoma de Aguascalientes, con el objetivo de brindar un poco de ayuda, a tan difícil situación que esta pasando no sólo México sino todo el mundo, 
                     la cual es la actual pandemia "COVID". Brindando un sinfin de opciones, para que estas puedan ser utilizadas por los usuarios y así tener un poco el control de las aglomeraciones de personas, y poder notificarles en caso de haber estado en alguna zona
                     en la cual hubiera estado alguna persona infectada con este virus.</h5>
                 </div>
             </div>
          <hr>
          <div class="row">
              <div class="col-3"></div>
              <div class="col-6 text-center">
                <div class="card mb-3 hover" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="../../assets/guido.jpg" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">MSc. CIN Guillermo Domínguez Aguilar (GuiDo)</h5>
                          <p class="card-text"> Master of Sciences in Computer and Information Networks por la U. de Essex - Reino Unido</p>
                          <p class="card-text"><small class="text-muted">Tutor para la realización del proyecto</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-3"></div>
          </div>
          <hr>
            <div class="row">
                <div class="col-12 text-center"><h1 style="color: #142b3b; font-style: italic;"> <b> Equipo de trabajo </b></h1></div> 
            </div>
            <hr>
            <div class="card text-center hover" >
                <div class="justify-content-around">
              <img class="rounded-circle " src="../../assets/adriana.jpeg" width="160" height="160" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Adriana Torres de Leon</h5>
                <p class="card-text">Estudiante de la Universidad Autónoma de Aguascalientes</p>
                <p class="card-text"><small class="text-muted">Desarrollador 1</small></p>
              </div>
            </div>
            <div class="card text-center hover">
                <div class="justify-content-around">
                    <img class="rounded-circle " src="../../assets/mariela.jpeg" width="160" height="160" alt="...">
                    </div>
              <div class="card-body">
                <h5 class="card-title">Mariela Teresa Serna Dávila</h5>
                <p class="card-text">Estudiante de la Universidad Autónoma de Aguascalientes</p>
                <p class="card-text"><small class="text-muted">Desarrollador 2</small></p>
              </div>
            </div>
            <div class="card text-center hover">
                <div class="justify-content-around">
                    <img class="rounded-circle " src="../../assets/alex.jpeg" width="160" height="160" alt="...">
                    </div>
              <div class="card-body">
                <h5 class="card-title">Carlos Alejandro Gonzalez Campos</h5>
                <p class="card-text">Estudiante de la Universidad Autónoma de Aguascalientes</p>
                <p class="card-text"><small class="text-muted">Desarrollador 3</small></p>
              </div>
            </div>
            <div class="card text-center hover">
                <div class="justify-content-around">
                    <img class="rounded-circle " src="../../assets/ramon.jpeg" width="160" height="160" alt="...">
                    </div>
                <div class="card-body">
                  <h5 class="card-title">José Ramón Robledo Aguilar</h5>
                  <p class="card-text">Estudiante de la Universidad Autónoma de Aguascalientes</p>
                  <p class="card-text"><small class="text-muted">Desarrollador 4</small></p>
                </div>
              </div>
    </div>
</main>