<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Document</title>
</head>
<body style="background-color: #6DDDFE;">
    <!--
    <h3>ESTADO DE RIESGO</h3> <br>
    <button class="btn btn-primary">Analizar</button>
-->
    <div class="container" style="background-color: #6DDDFE;">
        <div class="card" style="background-color: #6DDDFE;">
            <div class="card-body m-3">
              <div class="row text-center" style="margin-top: 20px;background-color: #142b3b;">
                <div class="col-12"><h1 style="color: #5ebcfa; font-style: italic;"> <b> Aviso de Riesgo </b></h1></div> 
            </div>
            </div>
          </div>
          <hr>
             <div class="row">
                 <div class="col-12 text-center">
                     <h1 style="color: #142b3b; font-style: italic;">¿Quieres Saber si tienes probablidad de estar en riesgo por contagios Covid-19?</h1>
                 </div>
             </div>
             <div class="row">
                 <div class="col-12 text-justify text-size: 20px;">
                   <h5>
                    Para poder llegar a una conclusión sobre tu riesgo de contagio, es necesario primeramente ingresar sesión.<br> Después presiona el siguiente botón que dice "Escanear" </h5>
                 </div>
             </div>
          <hr>
          <div class="row">
              <div class="col-3" style="background-color: #142b3b;"></div>
              <div class="col-6 text-center">
                <div class="card mb-3 hover" style="max-width: 540px;">
                    <div>
                        <button class="btn btn-info col-12" style="font-weight: bold;color: #142b3b;" (click)="escaneo()">Escanear</button>
                    </div>
                  </div>
              </div>
              <div class="col-3" style="background-color: #142b3b;"></div>
          </div>
          <hr>
            
            <hr>
            
    </div>

</body>
</html>